<h1>Make your own Pokemon!</h1>


<%= form_for @pokemon do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :weight %>
  <%= f.number_field :weight %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.submit "Pokemon!" %>

<% end %>
